<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <style media="screen">
      * {
        font-family: 'ABeeZee', sans-serif;
      }
      body {
        text-align: center;
        margin: 0px;
        padding: 0px;
        background-color: whitesmoke;
      }
      .profile-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        padding-bottom: 40px;
        border: 1px solid #888;
        width: 20%;
      }
      input {
        margin: 10px;
      }
      #menuBar {
        position: fixed;
      }
      h1 {
        background-color: #2196F3;
        margin-bottom: 20px;
        padding: 10px;
        color: whitesmoke;
      }
      p {
        font-size: 25px;
      }
      img {
        height: 130px;
      }
      nav {
        overflow-y: hidden;
        padding-right: 100px;
      }
    </style>
  </head>
  <body>
    <nav>
      <button style="font-family:arial" type="button" class="btn btn-success" type="button" class="btn btn-success" id="menu">&equiv;</button>
        <img style="float:right" src="http://kravegym.com/krave/wp-content/uploads/2016/05/FYP-Krave-Fitness-Gym-Slogan.png" alt="">

    </nav>
    <div class="" id='menuBar'>
      <div class="menuLink">
        <a href="/userHome">Home</a><br>
      </div>
      <div class="menuLink">
        <a href="/userHome/macros">Macros</a><br>
      </div>
      <div class="menuLink">
        <a href="/userHome/profile">Profile</a>
      </div>
      <div class="menuLink">
        <a href="/userHome/logout">Logout</a>
      </div>
    </div>

    <div class="profile-container">
      <h1>Your Stats</h1>
      <div class="profile-card">
        <p>Age: <%= userProfile.age %></p>
        <p>Gender: <%= userProfile.gender %></p>
        <p>Weight: <%= userProfile.weight %></p>
        <p>Height: <%= userProfile.height %></p>
        <p>Goal Weight: <%= userProfile.goalWt %></p>
      </div>
      <button type="button" class="btn btn-primary btn-lg" id="editProfile">Update Information</button>

      <div class="update modal">
        <div class="profile-content">
          <span class="close">&times;</span><br>
          <br>
          <form class="" action="/userHome/profile" method="post">
            Age: <br><input type="text" name="age" value="<%= userProfile.age %>"><br>
            Gender: <br><input type="text" name="gender" value="<%= userProfile.gender %>"><br>
            Current Weight: <br><input type="text" name="weight" value="<%= userProfile.weight %>"><br>
            Height(inches): <br><input type="text" name="height" value="<%= userProfile.height %>"><br>
            Goal Weight: <br><input type="text" name="goalWt" value="<%= userProfile.goalWt %>"><br>
            <button type="submit" class="btn btn-primary btn-lg" name="button">Save</button>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      let btn = document.querySelector('#editProfile')
      let modal = document.querySelector('.modal')
      const span = document.querySelector('.close')
      const menu = document.querySelector('#menu')
      const menuBar = document.querySelector('#menuBar')
      const profileCont = document.querySelector('.profile-container')
      const close = document.querySelector('.close')

      btn.onclick = function() {
          modal.style.display = "block";
      }
      span.onclick = function() {
          modal.style.display = "none";
      }
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      window.onclick = (e) => {
        if(e.target !== menuBar && e.target !== menu) {
          menuBar.style.width = "0px";
          profileCont.style.marginLeft = '0px'
        }
      }
      menu.onclick = () => {
        menuBar.style.width = '200px';
        profileCont.style.marginLeft = '200px'
      }
    </script>
  </body>
</html>
